
/*Global styles*/
body {
	max-width: 1200px;
	margin: 0px auto;
}
h1 {text-align: center}
#flag {
	width: 910px;
	margin: 0px auto;
}
.container {
	width: 900px;
	border: 5px solid blue;
	margin: 0px auto;
	box-sizing: content-box;
}

/*Block Colors*/
.red {background-color: red}
.blue {background-color: blue}
.orange {background-color: orange}
.purple {background-color: purple}
.light-yellow {background-color: #FFFF01}
.black {background-color: #333333}
.yellow {background-color: #FED700}
.light-blue {background-color: #01FFFF}
.bordo {background-color: #C52728}
.light-purple {background-color: #BF16F5}

/*Block heights*/
.single-height {height: 150px}
.half-height {height: 75px}
.double-height {height: 300px}

/*Block widths*/
.full-width {width: 900px}
.single-width {width: 300px}
.double-width {width: 600px}


/*Inline-block elements automatically get margins*/
/*Need to set minus margins*/

/*Layout with inline-blocks*/
.inline-container div {
	display: inline-block;
	margin: 0px -4px -4px 0px;
}

/*Layout with floats*/
.float-container {
	display: inline-block;
	margin: 0px -4px -4px 0px;
}
.float-container div {float: left}
.float-container:last-child {clear: left}

/*Layout with flexboxes*/
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#lower-flexbox {
	display: flex;
	flex-direction: row;
}

/*Layout with tables*/
.table-container {
	width: 910px;
	border-collapse: collapse;
}

/*Layout with grid*/
.grid-container {
	width: 900px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 75px;
}
.box1 {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}
.box2 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
}
.box3 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
}
.box4 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 6;
}
.box5 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 6;
	grid-row-end: 8;
}
.box6 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 8;
}
.box7 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 6;
}
.box8 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 6;
	grid-row-end: 8;
}