
/* ------------------ Global styles ------------------ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #111;
	outline: none;
}
*:focus {
	border: 1px solid grey;
}
.flex-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

body{
	background: #444;
	font-family: verdana;
}
.wrapper {
	width: 90%;
	min-width: 320px;
	max-width: 1200px;
	margin: 20px auto;
	box-shadow: 0 0 20px black;
}
a {
	text-decoration: none;
	outline: none;
	border: 1px solid transparent;
}


/* ------------------ Header section ------------------ */

header {
	position: relative;
	height: 303px;
	min-height: 303px;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-position: top left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}
.logo-box {
	margin: 16px 34px;
	user-select: none;
}
.logo-text {
	font-size: 48px;
	font-weight: normal;
	letter-spacing: 3px;
}
.logo-white {
	color: #F8F8F8;
}
.logo-info {
	font-weight: normal;
}

/* ---------------- Desktop menu ---------------- */
.desktop-nav {
	display: flex;
	justify-content: flex-end;
}
.desktop-nav a {
	color: #F8F8F8;
	padding: 6px 24px;
	text-transform: uppercase;
	margin-left: 2px;
}
.desktop-nav a:hover {
	color: #111;
	background-color: #F8F8F8;
}
.desktop-nav a.menu-active {
	color: #111;
	background-color: #F8F8F8;
}

/* ---------------- Mobile menu ---------------- */
.mobile-menu {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	align-items: flex-end;
}
#hidden-checkbox {
	display: none;
}
.menu-icon {
	position: absolute;
	z-index: 2;
	height: 36px;
	width: 36px;
	border: 1px solid grey;
	margin: 10px 10px 0 0;
	background-color: #F1F1F1;
	cursor: pointer;
	box-shadow: 0 0 4px 0 black;
}
.menu-icon span {
	background-color: black;
	width: 28px;
	height: 4px;
	margin: 1px 0;
}
.mobile-nav {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 60px 40px 0;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.95);
    overflow: hidden;
	transition:all 0.5s ease-in-out;
	transform: translate(960px, 0px);
}
	
.mobile-nav a {
	color: #aaa;
	max-width: 200px;
	padding: 6px 0px;
	text-transform: uppercase;
	margin-left: 20px;
}
.mobile-nav a:hover {
	position: relative;
	color: #FFF;
}
.mobile-nav a:hover::before {
	position: absolute;
	left: -20px;
	font-size: 12px;
	margin-top: 2px;
	content: ">";
}
.mobile-nav a.menu-active {
	position: relative;
	color: #FFF;
}
.mobile-nav a.menu-active::before {
	position: absolute;
	left: -20px;
	font-size: 12px;
	margin-top: 2px;
	content: ">";
}

#hidden-checkbox:checked + label + .mobile-nav{
	transform: translate(0px, 0px);
}

#hidden-checkbox:checked +label span:nth-of-type(1){
	transform:rotate(-45deg);
    position: relative;
	top: 4px;
}
#hidden-checkbox:checked +label span:nth-of-type(2){
	transform:rotate(45deg);
	position: relative;
	top: -2px;
}

#hidden-checkbox:checked +label span:nth-of-type(3){
	display:none;
}


/* ------------------- Main section ------------------- */

main {
	background-color: #F8F8F8;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 16px;
}
main h2 {
	font-weight: normal;
	font-size: 24px;
	margin: 28px 0;
}
main h3 {
	font-weight: normal;
	font-size: 24px;
	margin: 28px 0;
	color: #444;
}
main h4 {
	font-weight: normal;
	font-size: 16px;
}
main p {
	font-size: 14px;
	line-height: 24px;
	margin: 22px 0;
}
main i, main u {
	font-size: 14px;
	font-weight: bold;
}
main ul {list-style: none}
main li {
	margin-bottom: 10px;
	font-size: 14px;	
}


/* --------------- Main-Content section --------------- */

.main-content {
	padding: 20px;
}
.main-content li {
	background: url("../images/bullet.png") no-repeat left top;
	padding: 3px 0px 3px 26px;
}


/* ------------------- Contact Form ------------------- */

.form-container {
	width: 600px;
}
#contact-form {
	margin: 40px 0;
}
.form-row {
	margin: 6px 0;
	display: flex;
	justify-content: space-between;
}
form label {
	font-size: 14px;
	padding-top: 7px;
}
form input {
	width: 360px;
	max-width: 360px;
	min-width: 100px;
	height: 32px;
	display: flex;
	align-items: center;
	border: 1px solid #E5E5E5;
	padding: 4px 10px;
	font-size: 11px;
}
form textarea {
	width: 360px;
	height: 200px;
	min-height: 60px;
	border: 1px solid #E5E5E5;
	padding: 8px 10px;
	font-size: 11px;
	resize: vertical;
}
.buffer {flex-grow: 1}
#form-submit-btn {
	color: #F8F8F8;
	background-color: #555555;
	width: auto;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #555;
}
#form-submit-btn:hover {
	background-color: black;
}
form input:focus, form textarea:focus {
	border: 1px solid grey;
}


/* ----------------- Aside section ----------------- */

aside {
	width: 260px;
	min-width: 260px;
	padding: 20px;
}
article {
	margin-bottom: 40px;
}
aside li {
	background: url("../images/link.png") no-repeat left top;
  	padding: 3px 0px 3px 40px;
}
.search-box {
	display: flex;
}
#search-input {
	height: 32px;
	display: flex;
	align-items: center;
	border: 1px solid #E5E5E5;
	padding: 4px 10px;
	font-size: 11px;
}
#search-input:focus {border: 1px solid grey;}
#search-submit {
	margin-left: 8px;
	height: 32px;
}


/* --------------- Footer section ---------------- */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #F8F8F8;
	text-transform: uppercase;
	height: 88px;
}



/* -------------- Media Queries ------------------ */

@media screen and (min-width: 961px) {

	.mobile-menu {
		display: none;
	}
}

@media screen and (max-width: 960px) {

	.wrapper {
		width: 100%;
		margin: 0;
	}

	header {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.logo-info {
		color: #F1F1F1;
	}
	.desktop-nav {
		display: none;
	}
	.mobile-menu {
		display: flex;
	}

	main {
		flex-direction: column;
		align-items: center;
	}

	.main-content {
		width: 600px;
		padding-bottom: 0px;
	}
	aside {
		width: 600px;
		padding-top: 0px;
	}
}

@media screen and (max-width: 640px) {

	.logo-box {
		text-align: center;
	}
	.logo-text {
		font-size: 38px;
	}
	.logo-info {
		font-size: 16px;
		text-align: center;
		margin: 10px;
	}

	.main-content, aside {
		width: 100%;
	}

	.form-row {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.form-row label {
		margin-bottom: 10px;
	}
	form input, form textarea {
		width: 100%;
		max-width: 360px;
	}
}
